//import
@import "prefixer.less";

// Variables
@default-color-openingPage :#47a3da ;
@default-color-boySite : #aaaaaa ;
@default-color-backgroudApp : #eeeeee ;

/*
  ____            _
 |  _ \          | |
 | |_) | ___   __| |_   _
 |  _ < / _ \ / _` | | | |
 | |_) | (_) | (_| | |_| |
 |____/ \___/ \__,_|\__, |
                     __/ |
                    |___/ */

body{
  height: 100%;
  width: 100%;
  background-color: @default-color-backgroudApp;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.containerGlobal{
  height: 100%;
  width: 100%;

}


.body-site{
  position: absolute;
  background-color: @default-color-boySite ;
  width: 100%;
  height: 100%;
  overflow: hidden;
}



/*
   ____                   _             _____
  / __ \                 (_)           |  __ \
 | |  | |_ __   ___ _ __  _ _ __   __ _| |__) |_ _  __ _  ___
 | |  | | '_ \ / _ \ '_ \| | '_ \ / _` |  ___/ _` |/ _` |/ _ \
 | |__| | |_) |  __/ | | | | | | | (_| | |  | (_| | (_| |  __/
  \____/| .__/ \___|_| |_|_|_| |_|\__, |_|   \__,_|\__, |\___|
        | |                        __/ |            __/ |
        |_|                       |___/            |___/
*/

.openingPage{
  height: 100%;
  width: 100%;
  position: absolute;

}



/*
  _____                 _
 |  __ \               | |
 | |__) |_ _ _ __   ___| |
 |  ___/ _` | '_ \ / _ \ |
 | |  | (_| | | | |  __/ |
 |_|   \__,_|_| |_|\___|_|
*/



/* LEFT-RIGHT */
.openingPage .panel{
  height: 100%;
  display : table;
  position: absolute;
  top:0px;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  background-color: @default-color-openingPage;
}

.panel-openingPage{
  width: 100%;
}

/* RIGHT */
.panelRight{
  width: 50%;
  right:0px;
}

/* LEFT */
.panelLeft{
  width: 50%;
  left:0px;
}



/*
   _____            _             _     _____                 _
  / ____|          | |           | |   |  __ \               | |
 | |     ___  _ __ | |_ ___ _ __ | |_  | |__) |_ _ _ __   ___| |
 | |    / _ \| '_ \| __/ _ \ '_ \| __| |  ___/ _` | '_ \ / _ \ |
 | |___| (_) | | | | ||  __/ | | | |_  | |  | (_| | | | |  __/ |
  \_____\___/|_| |_|\__\___|_| |_|\__| |_|   \__,_|_| |_|\___|_|
*/


.openingPage .panel-openingPage .content-panel{ //for center content-panel
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.openingPage .content-panel{
  position: absolute;
  top:0px;
  bottom: 0px;
  margin-top:auto;
  margin-bottom:auto;
  text-align: center;
}


/*
  _____                                _                 _   _
 |  __ \                   /\         (_)               | | (_)
 | |  | | ___   ___  _ __ /  \   _ __  _ _ __ ___   __ _| |_ _  ___  _ __
 | |  | |/ _ \ / _ \| '__/ /\ \ | '_ \| | '_ ` _ \ / _` | __| |/ _ \| '_ \
 | |__| | (_) | (_) | | / ____ \| | | | | | | | | | (_| | |_| | (_) | | | |
 |_____/ \___/ \___/|_|/_/    \_\_| |_|_|_| |_| |_|\__,_|\__|_|\___/|_| |_|
*/

.openingPage-doorAnimation{
  .openingPage{
    z-index: 100;
  }
  /* BODY */
  .body-site{}
  /* CENTER*/
  .panel{}
  /* LEFT */
  .panelLeft{
    .transform-origin( left);
  }
  /* RIGHT */
  .panelRight{
    .transform-origin(right);
  }
}
//open
.openingPage-doorAnimation.open{
  .body-site{
    .animation( bodyAnimationDoorOpen 2s ease both );
    .animation-fill-mode(forwards);
  }
  .panel-openingPage{
    .animation( centerAnimationDoorOpen 2s ease both);
    .animation-fill-mode(forwards);
  }
  .panelRight{
    .animation( rightAnimationDoorOpen 2s ease both);
    .animation-fill-mode(forwards);
  }
  .panelLeft{
    .animation( leftAnimationDoorOpen 2s ease both);
    .animation-fill-mode(forwards);
  }
}
//close
.openingPage-doorAnimation.close{
  .body-site{
    .animation( bodyAnimationDoorClose 2s ease both);
    .animation-fill-mode(forwards);
  }
  .panel-openingPage{
    .animation( centerAnimationDoorClose 2s ease both);
    .animation-fill-mode(forwards);
  }
  .panelLeft{
    .animation( leftAnimationDoorClose 2s ease both);
    .animation-fill-mode(forwards);
  }
  .panelRight{
    .animation( rightAnimationDoorClose 2s ease both );
    .animation-fill-mode(forwards);
  }
}

/*BODY*/
@-webkit-keyframes bodyAnimationDoorOpen {.bodyAnimationDoorOpenF;}
@-moz-keyframes bodyAnimationDoorOpen {.bodyAnimationDoorOpenF;}
@-ms-keyframes bodyAnimationDoorOpen {.bodyAnimationDoorOpenF;}
@-o-keyframes bodyAnimationDoorOpen {.bodyAnimationDoorOpenF;}
@keyframes bodyAnimationDoorOpen {.bodyAnimationDoorOpenF;}

.bodyAnimationDoorOpenF () {
  0%   { .scale(0.5,0.5); z-index: 0;}
  35%   { .scale(0.5,0.5); z-index: 0;}
  100%   {  .scale(1,1);z-index: 500;  }
}

@-webkit-keyframes bodyAnimationDoorClose {.bodyAnimationDoorCloseF;}
@-moz-keyframes bodyAnimationDoorClose {.bodyAnimationDoorCloseF;}
@-ms-keyframes bodyAnimationDoorClose {.bodyAnimationDoorCloseF;}
@-o-keyframes bodyAnimationDoorClose {.bodyAnimationDoorCloseF;}
@keyframes bodyAnimationDoorClose {.bodyAnimationDoorCloseF;}

.bodyAnimationDoorCloseF () {
  0%   { .scale(1,1); z-index: 500;}
  65%   { .scale(0.5,0.5); z-index: 0;}
  100%   {  .scale(0.5,0.5);z-index: 0; }
}



/* LEFT */
@-webkit-keyframes leftAnimationDoorOpen {.leftAnimationDoorOpenF;}
@-moz-keyframes leftAnimationDoorOpen {.leftAnimationDoorOpenF;}
@-ms-keyframes leftAnimationDoorOpen {.leftAnimationDoorOpenF;}
@-o-keyframes leftAnimationDoorOpen {.leftAnimationDoorOpenF;}
@keyframes leftAnimationDoorOpen {.leftAnimationDoorOpenF;}

.leftAnimationDoorOpenF () {
  0% { .rotate3d(0, 1, 0, 0deg); }
  65% {    .rotate3d(0, 1, 0, 90deg); }
  100% {    .rotate3d(0, 1, 0, 90deg) ; }
}


@-webkit-keyframes leftAnimationDoorClose {.leftAnimationDoorCloseF;}
@-moz-keyframes leftAnimationDoorClose {.leftAnimationDoorCloseF;}
@-ms-keyframes leftAnimationDoorClose {.leftAnimationDoorCloseF;}
@-o-keyframes leftAnimationDoorClose {.leftAnimationDoorCloseF;}
@keyframes leftAnimationDoorClose {.leftAnimationDoorCloseF;}

.leftAnimationDoorCloseF () {
  0%   { .rotate3d(0,1,0,90deg); }
  35%   { .rotate3d(0,1,0,90deg);  }
  100%   { .rotate3d(0,1,0,0deg); }
}

/* RIGHT */
@-webkit-keyframes rightAnimationDoorOpen {.rightAnimationDoorOpenF;}
@-moz-keyframes rightAnimationDoorOpen {.rightAnimationDoorOpenF;}
@-ms-keyframes rightAnimationDoorOpen {.rightAnimationDoorOpenF;}
@-o-keyframes rightAnimationDoorOpen {.rightAnimationDoorOpenF;}
@keyframes rightAnimationDoorOpen {.rightAnimationDoorOpenF;}

.rightAnimationDoorOpenF () {
  0%   { .rotate3d(0,1,0,0deg);  }
  65%   { .rotate3d(0,1,0,-90deg); }
  100%   { .rotate3d(0,1,0,-90deg);  }
}

@-webkit-keyframes rightAnimationDoorClose {.rightAnimationDoorCloseF;}
@-moz-keyframes rightAnimationDoorClose {.rightAnimationDoorCloseF;}
@-ms-keyframes rightAnimationDoorClose {.rightAnimationDoorCloseF;}
@-o-keyframes rightAnimationDoorClose {.rightAnimationDoorCloseF;}
@keyframes rightAnimationDoorClose {.rightAnimationDoorCloseF;}

.rightAnimationDoorCloseF () {
  0%   { .rotate3d(0,1,0,-90deg);  }
  35%   { .rotate3d(0,1,0,-90deg);  }
  100%   { .rotate3d(0,1,0,0deg);  }
}


/*
  __  __                  _____  _       _     _
 |  \/  |                |  __ \(_)     | |   | |
 | \  / | _____   _____  | |__) |_  __ _| |__ | |_
 | |\/| |/ _ \ \ / / _ \ |  _  /| |/ _` | '_ \| __|
 | |  | | (_) \ V /  __/ | | \ \| | (_| | | | | |_
 |_|  |_|\___/ \_/ \___| |_|  \_\_|\__, |_| |_|\__|
                                    __/ |
                                   |___/
*/

.openingPage-moveRightAnimation{
  /* BODY */
  .body-site{}
  /* CENTER*/
  .panel{}
}
//open
.openingPage-moveRightAnimation.open{
  .body-site{
    .animation( bodyAnimationMoveRightOpen 2s ease both );
    .animation-fill-mode(forwards);
  }
  .panel-openingPage{
    .animation( centerAnimationMoveRightOpen 2s ease both);
    .animation-fill-mode(forwards);
  }
}
//close
.openingPage-moveRightAnimation.close{
  .body-site{
    .animation( bodyAnimationMoveRightClose 2s ease both);
    .animation-fill-mode(forwards);
  }
  .panel-openingPage{
    .animation( centerAnimationMoveRightClose 2s ease both);
    .animation-fill-mode(forwards);
  }
}

/*BODY*/
@-webkit-keyframes bodyAnimationMoveRightOpen {.bodyAnimationMoveRightOpenF;}
@-moz-keyframes bodyAnimationMoveRightOpen {.bodyAnimationMoveRightOpenF;}
@-ms-keyframes bodyAnimationMoveRightOpen {.bodyAnimationMoveRightOpenF;}
@-o-keyframes bodyAnimationMoveRightOpen {.bodyAnimationMoveRightOpenF;}
@keyframes bodyAnimationMoveRightOpen {.bodyAnimationMoveRightOpenF;}

.bodyAnimationMoveRightOpenF () {
  0%   { .translate(-100%,0)}
  100%   {  .translate(0,0) }
}

@-webkit-keyframes bodyAnimationMoveRightClose {.bodyAnimationMoveRightCloseF;}
@-moz-keyframes bodyAnimationMoveRightClose {.bodyAnimationMoveRightCloseF;}
@-ms-keyframes bodyAnimationMoveRightClose {.bodyAnimationMoveRightCloseF;}
@-o-keyframes bodyAnimationMoveRightClose {.bodyAnimationMoveRightCloseF;}
@keyframes bodyAnimationMoveRightClose {.bodyAnimationMoveRightCloseF;}

.bodyAnimationMoveRightCloseF () {
  0%   { .translate(0,0)}
  100%   {  .translate(-100%,0) }
}

/*CENTER*/
@-webkit-keyframes centerAnimationMoveRightOpen {.centerAnimationMoveRightOpenF;}
@-moz-keyframes centerAnimationMoveRightOpen {.centerAnimationMoveRightOpenF;}
@-ms-keyframes centerAnimationMoveRightOpen {.centerAnimationMoveRightOpenF;}
@-o-keyframes centerAnimationMoveRightOpen {.centerAnimationMoveRightOpenF;}
@keyframes centerAnimationMoveRightOpen {.centerAnimationMoveRightOpenF;}

.centerAnimationMoveRightOpenF () {
  0%   { .translate(0,0)}
  100%   {  .translate(100%,0) }
}

@-webkit-keyframes centerAnimationMoveRightClose {.centerAnimationMoveRightCloseF;}
@-moz-keyframes centerAnimationMoveRightClose {.centerAnimationMoveRightCloseF;}
@-ms-keyframes centerAnimationMoveRightClose {.centerAnimationMoveRightCloseF;}
@-o-keyframes centerAnimationMoveRightClose {.centerAnimationMoveRightCloseF;}
@keyframes centerAnimationMoveRightClose {.centerAnimationMoveRightCloseF;}

.centerAnimationMoveRightCloseF () {
  0%   { .translate(100%,0)}
  100%   {  .translate(0,0) }
}


/*
  __  __                  _           __ _
 |  \/  |                | |         / _| |
 | \  / | _____   _____  | |     ___| |_| |_
 | |\/| |/ _ \ \ / / _ \ | |    / _ \  _| __|
 | |  | | (_) \ V /  __/ | |___|  __/ | | |_
 |_|  |_|\___/ \_/ \___| |______\___|_|  \__|
*/

.openingPage-moveLeftAnimation{
  /* BODY */
  .body-site{}
  /* CENTER*/
  .panel{}
}
//open
.openingPage-moveLeftAnimation.open{
  .body-site{
    .animation( bodyAnimationMoveLeftOpen 2s ease both );
    .animation-fill-mode(forwards);
  }
  .panel-openingPage{
    .animation( centerAnimationMoveLeftOpen 2s ease both);
    .animation-fill-mode(forwards);
  }
}
//close
.openingPage-moveLeftAnimation.close{
  .body-site{
    .animation( bodyAnimationMoveLeftClose 2s ease both);
    .animation-fill-mode(forwards);
  }
  .panel-openingPage{
    .animation( centerAnimationMoveLeftClose 2s ease both);
    .animation-fill-mode(forwards);
  }
}

/*BODY*/
@-webkit-keyframes bodyAnimationMoveLeftOpen {.bodyAnimationMoveLeftOpenF;}
@-moz-keyframes bodyAnimationMoveLeftOpen {.bodyAnimationMoveLeftOpenF;}
@-ms-keyframes bodyAnimationMoveLeftOpen {.bodyAnimationMoveLeftOpenF;}
@-o-keyframes bodyAnimationMoveLeftOpen {.bodyAnimationMoveLeftOpenF;}
@keyframes bodyAnimationMoveLeftOpen {.bodyAnimationMoveLeftOpenF;}

.bodyAnimationMoveLeftOpenF () {
  0%   { .translate(100%,0)}
  100%   {  .translate(0,0) }
}

@-webkit-keyframes bodyAnimationMoveLeftClose {.bodyAnimationMoveLeftCloseF;}
@-moz-keyframes bodyAnimationMoveLeftClose {.bodyAnimationMoveLeftCloseF;}
@-ms-keyframes bodyAnimationMoveLeftClose {.bodyAnimationMoveLeftCloseF;}
@-o-keyframes bodyAnimationMoveLeftClose {.bodyAnimationMoveLeftCloseF;}
@keyframes bodyAnimationMoveLeftClose {.bodyAnimationMoveLeftCloseF;}

.bodyAnimationMoveLeftCloseF () {
  0%   { .translate(0,0)}
  100%   {  .translate(100%,0) }
}

/*CENTER*/
@-webkit-keyframes centerAnimationMoveLeftOpen {.centerAnimationMoveLeftOpenF;}
@-moz-keyframes centerAnimationMoveLeftOpen {.centerAnimationMoveLeftOpenF;}
@-ms-keyframes centerAnimationMoveLeftOpen {.centerAnimationMoveLeftOpenF;}
@-o-keyframes centerAnimationMoveLeftOpen {.centerAnimationMoveLeftOpenF;}
@keyframes centerAnimationMoveLeftOpen {.centerAnimationMoveLeftOpenF;}

.centerAnimationMoveLeftOpenF () {
  0%   { .translate(0,0)}
  100%   {  .translate(-100%,0) }
}

@-webkit-keyframes centerAnimationMoveLeftClose {.centerAnimationMoveLeftCloseF;}
@-moz-keyframes centerAnimationMoveLeftClose {.centerAnimationMoveLeftCloseF;}
@-ms-keyframes centerAnimationMoveLeftClose {.centerAnimationMoveLeftCloseF;}
@-o-keyframes centerAnimationMoveLeftClose {.centerAnimationMoveLeftCloseF;}
@keyframes centerAnimationMoveLeftClose {.centerAnimationMoveLeftCloseF;}

.centerAnimationMoveLeftCloseF () {
  0%   { .translate(-100%,0)}
  100%   {  .translate(0,0) }
}
/*
  __  __                  _______
 |  \/  |                |__   __|
 | \  / | _____   _____     | | ___  _ __
 | |\/| |/ _ \ \ / / _ \    | |/ _ \| '_ \
 | |  | | (_) \ V /  __/    | | (_) | |_) |
 |_|  |_|\___/ \_/ \___|    |_|\___/| .__/
                                    | |
                                    |_|
*/

.openingPage-moveTopAnimation{
  /* BODY */
  .body-site{}
  /* CENTER*/
  .panel{}
}
//open
.openingPage-moveTopAnimation.open{
  .body-site{
    .animation( bodyAnimationMoveTopOpen 2s ease both );
    .animation-fill-mode(forwards);
  }
  .panel-openingPage{
    .animation( centerAnimationMoveTopOpen 2s ease both);
    .animation-fill-mode(forwards);
  }
}
//close
.openingPage-moveTopAnimation.close{
  .body-site{
    .animation( bodyAnimationMoveTopClose 2s ease both);
    .animation-fill-mode(forwards);
  }
  .panel-openingPage{
    .animation( centerAnimationMoveTopClose 2s ease both);
    .animation-fill-mode(forwards);
  }
}

/*BODY*/
@-webkit-keyframes bodyAnimationMoveTopOpen {.bodyAnimationMoveTopOpenF;}
@-moz-keyframes bodyAnimationMoveTopOpen {.bodyAnimationMoveTopOpenF;}
@-ms-keyframes bodyAnimationMoveTopOpen {.bodyAnimationMoveTopOpenF;}
@-o-keyframes bodyAnimationMoveTopOpen {.bodyAnimationMoveTopOpenF;}
@keyframes bodyAnimationMoveTopOpen {.bodyAnimationMoveTopOpenF;}

.bodyAnimationMoveTopOpenF () {
  0%   { .translate(0,-100%)}
  100%   {  .translate(0,0) }
}

@-webkit-keyframes bodyAnimationMoveTopClose {.bodyAnimationMoveTopCloseF;}
@-moz-keyframes bodyAnimationMoveTopClose {.bodyAnimationMoveTopCloseF;}
@-ms-keyframes bodyAnimationMoveTopClose {.bodyAnimationMoveTopCloseF;}
@-o-keyframes bodyAnimationMoveTopClose {.bodyAnimationMoveTopCloseF;}
@keyframes bodyAnimationMoveTopClose {.bodyAnimationMoveTopCloseF;}

.bodyAnimationMoveTopCloseF () {
  0%   { .translate(0,0)}
  100%   {  .translate(0,-100%) }
}

/*CENTER*/
@-webkit-keyframes centerAnimationMoveTopOpen {.centerAnimationMoveTopOpenF;}
@-moz-keyframes centerAnimationMoveTopOpen {.centerAnimationMoveTopOpenF;}
@-ms-keyframes centerAnimationMoveTopOpen {.centerAnimationMoveTopOpenF;}
@-o-keyframes centerAnimationMoveBottomOpen {.centerAnimationMoveTopOpenF;}
@keyframes centerAnimationMoveBottomOpen {.centerAnimationMoveTopOpenF;}

.centerAnimationMoveTopOpenF () {
  0%   { .translate(0,0)}
  100%   {  .translate(0,100%) }
}

@-webkit-keyframes centerAnimationMoveTopClose  {.centerAnimationMoveTopCloseF;}
@-moz-keyframes centerAnimationMoveTopClose  {.centerAnimationMoveTopCloseF;}
@-ms-keyframes centerAnimationMoveTopClose  {.centerAnimationMoveTopCloseF;}
@-o-keyframes centerAnimationMoveTopClose  {.centerAnimationMoveTopCloseF;}
@keyframes centerAnimationMoveTopClose  {.centerAnimationMoveTopCloseF;}

.centerAnimationMoveTopCloseF () {
  0%   { .translate(0,100%)}
  100%   {  .translate(0,0) }
}

/*
  __  __                  ____        _   _
 |  \/  |                |  _ \      | | | |
 | \  / | _____   _____  | |_) | ___ | |_| |_ ___  _ __ ___
 | |\/| |/ _ \ \ / / _ \ |  _ < / _ \| __| __/ _ \| '_ ` _ \
 | |  | | (_) \ V /  __/ | |_) | (_) | |_| || (_) | | | | | |
 |_|  |_|\___/ \_/ \___| |____/ \___/ \__|\__\___/|_| |_| |_|
*/

.openingPage-moveBottomAnimation{
  /* BODY */
  .body-site{}
  /* CENTER*/
  .panel{}
}
//open
.openingPage-moveBottomAnimation.open{
  .body-site{
    .animation( bodyAnimationMoveBottomOpen 2s ease both );
    .animation-fill-mode(forwards);
  }
  .panel-openingPage{
    .animation( centerAnimationMoveBottomOpen 2s ease both);
    .animation-fill-mode(forwards);
  }
}
//close
.openingPage-moveBottomAnimation.close{
  .body-site{
    .animation( bodyAnimationMoveBottomClose 2s ease both);
    .animation-fill-mode(forwards);
  }
  .panel-openingPage{
    .animation( centerAnimationMoveBottomClose 2s ease both);
    .animation-fill-mode(forwards);
  }
}

/*BODY*/
@-webkit-keyframes bodyAnimationMoveBottomOpen {.bodyAnimationMoveBottomOpenF;}
@-moz-keyframes bodyAnimationMoveBottomOpen {.bodyAnimationMoveBottomOpenF;}
@-ms-keyframes bodyAnimationMoveBottomOpen {.bodyAnimationMoveBottomOpenF;}
@-o-keyframes bodyAnimationMoveBottomOpen {.bodyAnimationMoveBottomOpenF;}
@keyframes bodyAnimationMoveBottomOpen {.bodyAnimationMoveBottomOpenF;}

.bodyAnimationMoveBottomOpenF () {
  0%   { .translate(0,100%)}
  100%   {  .translate(0,0) }
}

@-webkit-keyframes bodyAnimationMoveBottomClose {.bodyAnimationMoveBottomCloseF;}
@-moz-keyframes bodyAnimationMoveBottomClose {.bodyAnimationMoveBottomCloseF;}
@-ms-keyframes bodyAnimationMoveBottomClose {.bodyAnimationMoveBottomCloseF;}
@-o-keyframes bodyAnimationMoveBottomClose {.bodyAnimationMoveBottomCloseF;}
@keyframes bodyAnimationMoveBottomClose {.bodyAnimationMoveBottomCloseF;}

.bodyAnimationMoveBottomCloseF () {
  0%   { .translate(0,0)}
  100%   {  .translate(0,100%) }
}

/*CENTER*/
@-webkit-keyframes centerAnimationMoveBottomOpen {.centerAnimationMoveBottomOpenF;}
@-moz-keyframes centerAnimationMoveBottomOpen {.centerAnimationMoveBottomOpenF;}
@-ms-keyframes centerAnimationMoveBottomOpen {.centerAnimationMoveBottomOpenF;}
@-o-keyframes centerAnimationMoveBottomOpen {.centerAnimationMoveBottomOpenF;}
@keyframes centerAnimationMoveBottomOpen {.centerAnimationMoveBottomOpenF;}

.centerAnimationMoveBottomOpenF () {
  0%   { .translate(0,0)}
  100%   {  .translate(0,-100%) }
}

@-webkit-keyframes centerAnimationMoveBottomClose {.centerAnimationMoveBottomCloseF;}
@-moz-keyframes centerAnimationMoveBottomClose {.centerAnimationMoveBottomCloseF;}
@-ms-keyframes centerAnimationMoveBottomClose {.centerAnimationMoveBottomCloseF;}
@-o-keyframes centerAnimationMoveBottomClose {.centerAnimationMoveBottomCloseF;}
@keyframes centerAnimationMoveBottomClose {.centerAnimationMoveBottomCloseF;}

.centerAnimationMoveBottomCloseF () {
  0%   { .translate(0,-100%)}
  100%   {  .translate(0,0) }
}